stages:
  - scan

# 1. 백신 검사 (ClamAV)
virus_scan:
  stage: scan
  image: clamav/clamav:latest
  script:
    - freshclam || true 
    - clamscan -r . --log=clamav-result.txt
  allow_failure: true

# 2. 오픈소스 취약점 점검 (OSV)
osv_scan:
  stage: scan
  image:
    name: ghcr.io/google/osv-scanner:latest
    # command 대신 entrypoint에 실행 인자까지 모두 포함시킵니다.
    entrypoint: ["osv-scanner", "-r", "."]
  script:
    - echo "Scanning for vulnerabilities..."
  allow_failure: true