stages:
  - scan

# 1. 백신 검사 (ClamAV)
virus_scan:
  stage: scan
  image: clamav/clamav:latest
  script:
    - freshclam || true 
    - clamscan -r . --log=clamav-result.txt
  allow_failure: true

# 2. 오픈소스 취약점 점검 (OSV)
osv_scan:
  stage: scan
  image: ghcr.io/aquasecurity/trivy:latest
  script:
    - trivy fs .
  allow_failure: true