stages:
  - scan

# 1. 백신 검사 (ClamAV)
virus_scan:
  stage: scan
  image: clamav/clamav:latest
  script:
    - freshclam || true 
    - clamscan -r . --log=clamav-result.txt
  allow_failure: true

# 2. 오픈소스 취약점 점검 (OSV)
osv_scan:
  stage: scan
  # 쉘이 포함된 alpine 버전을 사용합니다.
  image: ghcr.io/google/osv-scanner:alpine
  script:
    - osv-scanner -r .
  allow_failure: true